body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  .navbar {
    background-color: var(--nav-bg) !important;

    .nav-link {
      color: var(--nav-text);

      &.active {
        color: var(--nav-text-active);
      }
    }
  }

  .home-main {
    background-color: var(--background-color);
  }
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
