body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;

  .navbar {
    background-color: var(--nav-bg) !important;

    .nav-name {
      color: var(--nav-text);
    }

    .nav-link {
      color: var(--nav-text);

      &.active {
        color: var(--nav-text-active);
      }
    }

    .theme-icon-button {
      background-color: var(--nav-bg-icon-color);
      color: var(--nav-icon-color);

      &:hover {
        background-color: var(--nav-bg-icon-hover-color);
        color: var(--nav-icon-hover-color);
      }
    }
  }

  .home-main {
    background-color: var(--background-color);
  }
}
