:root {
  $bg: #f8f9fa;
  $text: #343a40;

  --nav-bg: #{$bg}; // Light gray background
  --nav-text: #{$text}; // Dark gray text
  --nav-text-active: #007bff; // Blue accent for active nav link
  --nav-bg-icon-color: #{$bg};
  --nav-bg-icon-hover-color: #{$text};
  --nav-icon-color: #{$text};
  --nav-icon-hover-color: #{$bg};

  // Light Theme Colors
  --section-bg-primary-color: #f8f9fa; // Light gray
  --section-bg-secondary-color: #ffffff; // White
  --section-text-primary-color: #343a40; // Dark gray for primary text
  --section-text-secondary-color: #495057; // Slightly lighter gray for secondary text

  --section-dropdown-bg-color: #f1f1f1;
}

[data-theme="dark"] {
  $bg: #343a40;
  $text: #f8f9fa;

  --nav-bg: #{$bg}; // Dark gray background
  --nav-text: #{$text}; // Light gray text
  --nav-text-active: #17a2b8; // Teal accent for active nav link
  --nav-bg-icon-color: #{$bg};
  --nav-bg-icon-hover-color: #{$text};
  --nav-icon-color: #{$text};
  --nav-icon-hover-color: #{$bg};

  // Dark Theme Colors
  --section-bg-primary-color: #2c2f33; // Dark gray
  --section-bg-secondary-color: #23272a; // Slightly lighter dark gray
  --section-text-primary-color: #f8f9fa; // Light gray for primary text
  --section-text-secondary-color: #adb5bd; // Slightly darker gray for secondary text

  --section-dropdown-bg-color: gray;
}
