:root {
  $bg: #f8f9fa;
  $text: #343a40;

  --nav-bg: #{$bg}; // Light gray background
  --nav-text: #{$text}; // Dark gray text
  --nav-text-active: #007bff; // Blue accent for active nav link
  --nav-bg-icon-color: #{$bg};
  --nav-bg-icon-hover-color: #{$text};
  --nav-icon-color: #{$text};
  --nav-icon-hover-color: #{$bg};

  --background-color: #ffffff;
  --text-color: #333333;

  --button-bg-color: #28a745;
  --button-text-color: #ffffff;
}

[data-theme="dark"] {
  $bg: #343a40;
  $text: #f8f9fa;

  --nav-bg: #{$bg}; // Dark gray background
  --nav-text: #{$text}; // Light gray text
  --nav-text-active: #17a2b8; // Teal accent for active nav link
  --nav-bg-icon-color: #{$bg};
  --nav-bg-icon-hover-color: #{$text};
  --nav-icon-color: #{$text};
  --nav-icon-hover-color: #{$bg};

  --background-color: #121212;
  --text-color: #ffffff;

  --button-bg-color: #28a745;
  --button-text-color: #ffffff;
}
